# pd.date_range()
- 날짜를 일일히 입력할 필요 없이 시작일과 종료일 또는 시작일과 기간을 입력하면 범위 내의 인덱스를 생성해준다.
- pd.date_range(시작일,종료일)
- pd.date_range(시작일,기간)
- freq 인수를 사용하면 특정한 날짜만 생성하도록 할 수 있다.
- s(초), T(분), H(시간), D(일), B(주말이 아닌 평일), W(주), W-MON(주(월요일)), M(각 달의 마지막 날), BM(주말이 아닌 평일 중에서 각 달의 첫날), WOM-2THU(각 달의 두번째 목요일), Q-JAN(각 분기의 첫달의 마지막 날), Q-DEC(각 분기의 마지막 달의 마지막 날)

In [21]:
import pandas as pd
import numpy as np
import datetime

In [22]:
pd.date_range('2023-01-01','2023-01-31')
#freq를 설정 안하면 하루 단위로 형성된다.

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

In [23]:
pd.date_range(start = '2023-01-01', periods = 50)
# 하루 단위로 2023-01-01이후의 50일 까지 생성

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13',
               '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-18', '2023-02-19'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range('2023-01-01','2023-01-02', freq = 'H')
# freq를 통해 원하는 단위로 날짜 생성 가능하다.

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 01:00:00',
               '2023-01-01 02:00:00', '2023-01-01 03:00:00',
               '2023-01-01 04:00:00', '2023-01-01 05:00:00',
               '2023-01-01 06:00:00', '2023-01-01 07:00:00',
               '2023-01-01 08:00:00', '2023-01-01 09:00:00',
               '2023-01-01 10:00:00', '2023-01-01 11:00:00',
               '2023-01-01 12:00:00', '2023-01-01 13:00:00',
               '2023-01-01 14:00:00', '2023-01-01 15:00:00',
               '2023-01-01 16:00:00', '2023-01-01 17:00:00',
               '2023-01-01 18:00:00', '2023-01-01 19:00:00',
               '2023-01-01 20:00:00', '2023-01-01 21:00:00',
               '2023-01-01 22:00:00', '2023-01-01 23:00:00',
               '2023-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [25]:
pd.date_range('2023-01-01',periods = 30, freq = 'BM')
#월의 공휴일이 아닌 마지막 날짜만 생성

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-29', '2023-10-31', '2023-11-30', '2023-12-29',
               '2024-01-31', '2024-02-29', '2024-03-29', '2024-04-30',
               '2024-05-31', '2024-06-28', '2024-07-31', '2024-08-30',
               '2024-09-30', '2024-10-31', '2024-11-29', '2024-12-31',
               '2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-30', '2025-06-30'],
              dtype='datetime64[ns]', freq='BM')

# shift
- 인덱스는 그대로 두고 데이터를 이동시킬 수 있다.

In [26]:
np.random.seed(0)
ts = pd.Series(np.random.randn(5), index=pd.date_range(
    "2023-1-1", periods=5, freq="M"))
ts

2023-01-31    1.764052
2023-02-28    0.400157
2023-03-31    0.978738
2023-04-30    2.240893
2023-05-31    1.867558
Freq: M, dtype: float64

In [27]:
ts.shift(1) #한칸씩 뒤로 이동

2023-01-31         NaN
2023-02-28    1.764052
2023-03-31    0.400157
2023-04-30    0.978738
2023-05-31    2.240893
Freq: M, dtype: float64

In [28]:
ts.shift(-1) #한칸씩 앞으로 이동

2023-01-31    0.400157
2023-02-28    0.978738
2023-03-31    2.240893
2023-04-30    1.867558
2023-05-31         NaN
Freq: M, dtype: float64

In [29]:
ts.shift(1, freq="M") #날짜를 한달씩 뒤로 바꿈

2023-02-28    1.764052
2023-03-31    0.400157
2023-04-30    0.978738
2023-05-31    2.240893
2023-06-30    1.867558
Freq: M, dtype: float64

In [30]:
ts.shift(1, freq="W") #날짜를 한주씩 뒤로 미룸

2023-02-05    1.764052
2023-03-05    0.400157
2023-04-02    0.978738
2023-05-07    2.240893
2023-06-04    1.867558
dtype: float64

# resample
- 시간 간격을 재조정하는 리샘플링이 가능하다. 
- 구간이 작아지면 데이터 양이 증가한다고 해서 업-샘플링이라 한다.
- 구간이 커지면 데이터 양이 감소한다고 해어 다운-샘플링이라고 한다.

In [31]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100, freq="D"))
ts.tail(20)

2018-03-22    1.895889
2018-03-23    1.178780
2018-03-24   -0.179925
2018-03-25   -1.070753
2018-03-26    1.054452
2018-03-27   -0.403177
2018-03-28    1.222445
2018-03-29    0.208275
2018-03-30    0.976639
2018-03-31    0.356366
2018-04-01    0.706573
2018-04-02    0.010500
2018-04-03    1.785870
2018-04-04    0.126912
2018-04-05    0.401989
2018-04-06    1.883151
2018-04-07   -1.347759
2018-04-08   -1.270485
2018-04-09    0.969397
2018-04-10   -1.173123
Freq: D, dtype: float64

In [32]:
ts.resample('W').mean() 
#다운 샘플링의 경우 원래의 데이터가 그룹으로 묶이기 때문에 그룹연산을 해서 대표값을 구해야 한다.

2018-01-07    0.246736
2018-01-14    0.466034
2018-01-21   -0.259401
2018-01-28    0.358005
2018-02-04   -0.061331
2018-02-11   -0.632084
2018-02-18   -0.464164
2018-02-25   -0.128626
2018-03-04   -0.612965
2018-03-11    0.044234
2018-03-18   -0.379167
2018-03-25    0.320237
2018-04-01    0.588796
2018-04-08    0.227168
2018-04-15   -0.101863
Freq: W-SUN, dtype: float64

In [33]:
ts.resample('M').first()
#주기의 첫번째 값을 반환

2018-01-31   -0.977278
2018-02-28    1.230291
2018-03-31    0.177426
2018-04-30    0.706573
Freq: M, dtype: float64

In [34]:
ts = pd.Series(np.random.randn(60), index=pd.date_range(
    "2018-1-1", periods=60, freq="T"))
ts.head(20)

2018-01-01 00:00:00    1.943621
2018-01-01 00:01:00   -0.413619
2018-01-01 00:02:00   -0.747455
2018-01-01 00:03:00    1.922942
2018-01-01 00:04:00    1.480515
2018-01-01 00:05:00    1.867559
2018-01-01 00:06:00    0.906045
2018-01-01 00:07:00   -0.861226
2018-01-01 00:08:00    1.910065
2018-01-01 00:09:00   -0.268003
2018-01-01 00:10:00    0.802456
2018-01-01 00:11:00    0.947252
2018-01-01 00:12:00   -0.155010
2018-01-01 00:13:00    0.614079
2018-01-01 00:14:00    0.922207
2018-01-01 00:15:00    0.376426
2018-01-01 00:16:00   -1.099401
2018-01-01 00:17:00    0.298238
2018-01-01 00:18:00    1.326386
2018-01-01 00:19:00   -0.694568
Freq: T, dtype: float64

In [35]:
ts.resample('10T').sum()
#10의 배수가 되는 시각이 뒷 구간에 포함된다.

2018-01-01 00:00:00    7.740444
2018-01-01 00:10:00    3.338065
2018-01-01 00:20:00    0.835217
2018-01-01 00:30:00    2.480654
2018-01-01 00:40:00   -0.653363
2018-01-01 00:50:00   -0.959026
Freq: 10T, dtype: float64

In [36]:
ts.resample('10T', closed="right").sum()
# 오른쪽 한계값을 구간에 포함하여 10의 배수가 되는 시각이 앞 구간에 포함된다.

2017-12-31 23:50:00    1.943621
2018-01-01 00:00:00    6.599279
2018-01-01 00:10:00    2.385974
2018-01-01 00:20:00    1.661285
2018-01-01 00:30:00    2.748701
2018-01-01 00:40:00   -2.261321
2018-01-01 00:50:00   -0.295548
Freq: 10T, dtype: float64

In [37]:
ts.resample('5T').ohlc()
# open, high, low, close 값을 계산

                         open      high       low     close
2018-01-01 00:00:00  1.943621  1.943621 -0.747455  1.480515
2018-01-01 00:05:00  1.867559  1.910065 -0.861226 -0.268003
2018-01-01 00:10:00  0.802456  0.947252 -0.155010  0.922207
2018-01-01 00:15:00  0.376426  1.326386 -1.099401 -0.694568
2018-01-01 00:20:00 -0.149635  1.849264 -0.435154  0.407462
2018-01-01 00:25:00 -0.769916  0.539249 -0.769916 -0.635846
2018-01-01 00:30:00  0.676433  0.676433 -1.093062 -1.093062
2018-01-01 00:35:00 -1.491258  2.383145 -1.491258  2.383145
2018-01-01 00:40:00  0.944479  1.117016 -1.315907 -0.461585
2018-01-01 00:45:00 -0.068242  1.713343 -0.826439 -0.098453
2018-01-01 00:50:00 -0.663478  1.126636 -1.147469 -0.437820
2018-01-01 00:55:00 -0.498032  1.929532 -1.225436 -1.225436

- 업샘플링의 경우 실제로 존재하지 않는 데이터를 만들어야 한다. 이때 ffill과 bfill을 사용한다,

In [38]:
ts.resample('30s').ffill().head(20)
#시간을 30초 단위로 쪼개면 값이 존재하지 않는 시간들이 존재하는데 이를 ffill을 통해 앞의 값가 동일한 값을 갖도록 해준다.

2018-01-01 00:00:00    1.943621
2018-01-01 00:00:30    1.943621
2018-01-01 00:01:00   -0.413619
2018-01-01 00:01:30   -0.413619
2018-01-01 00:02:00   -0.747455
2018-01-01 00:02:30   -0.747455
2018-01-01 00:03:00    1.922942
2018-01-01 00:03:30    1.922942
2018-01-01 00:04:00    1.480515
2018-01-01 00:04:30    1.480515
2018-01-01 00:05:00    1.867559
2018-01-01 00:05:30    1.867559
2018-01-01 00:06:00    0.906045
2018-01-01 00:06:30    0.906045
2018-01-01 00:07:00   -0.861226
2018-01-01 00:07:30   -0.861226
2018-01-01 00:08:00    1.910065
2018-01-01 00:08:30    1.910065
2018-01-01 00:09:00   -0.268003
2018-01-01 00:09:30   -0.268003
Freq: 30S, dtype: float64

In [39]:
ts.resample('30s').bfill().head(20)
#bfill은 빈값을 뒤의 값과 동일하게 맞춰준다

2018-01-01 00:00:00    1.943621
2018-01-01 00:00:30   -0.413619
2018-01-01 00:01:00   -0.413619
2018-01-01 00:01:30   -0.747455
2018-01-01 00:02:00   -0.747455
2018-01-01 00:02:30    1.922942
2018-01-01 00:03:00    1.922942
2018-01-01 00:03:30    1.480515
2018-01-01 00:04:00    1.480515
2018-01-01 00:04:30    1.867559
2018-01-01 00:05:00    1.867559
2018-01-01 00:05:30    0.906045
2018-01-01 00:06:00    0.906045
2018-01-01 00:06:30   -0.861226
2018-01-01 00:07:00   -0.861226
2018-01-01 00:07:30    1.910065
2018-01-01 00:08:00    1.910065
2018-01-01 00:08:30   -0.268003
2018-01-01 00:09:00   -0.268003
2018-01-01 00:09:30    0.802456
Freq: 30S, dtype: float64

## dt접근자
- datetime자료형 시리즈에는 dt접근자가 있어 datetime 자료형이 가진 몇가지 유용한 속성과 메서드를 사용할 수 있다.

In [40]:
s = pd.Series(pd.date_range("2020-12-25", periods=100, freq="D"))
s

0    2020-12-25
1    2020-12-26
2    2020-12-27
3    2020-12-28
4    2020-12-29
        ...
95   2021-03-30
96   2021-03-31
97   2021-04-01
98   2021-04-02
99   2021-04-03
Length: 100, dtype: datetime64[ns]

In [41]:
s.dt.year
#각 항목의 연도만 추출

0     2020
1     2020
2     2020
3     2020
4     2020
      ...
95    2021
96    2021
97    2021
98    2021
99    2021
Length: 100, dtype: int64

In [42]:
s.dt.weekday

0     4
1     5
2     6
3     0
4     1
     ..
95    1
96    2
97    3
98    4
99    5
Length: 100, dtype: int64

In [43]:
s.dt.strftime("%Y년 %m월 %d일")
#날짜의 표현 방법 설정 가능

0     2020년 12월 25일
1     2020년 12월 26일
2     2020년 12월 27일
3     2020년 12월 28일
4     2020년 12월 29일
          ...
95    2021년 03월 30일
96    2021년 03월 31일
97    2021년 04월 01일
98    2021년 04월 02일
99    2021년 04월 03일
Length: 100, dtype: object

## timedelta & offset
- 둘을 이용하면 날짜끼리 연산을 가능하게 해준다.

In [45]:
#timedelta
from datetime import timedelta
t1 = pd.datetime(2023,5,27)
t2 = pd.datetime(2023,5,31)
t1 + timedelta(100)

C:\Users\kimht\AppData\Local\Temp\ipykernel_2752\2518680189.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  t1 = pd.datetime(2023,5,27)
C:\Users\kimht\AppData\Local\Temp\ipykernel_2752\2518680189.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  t2 = pd.datetime(2023,5,31)

datetime.datetime(2023, 9, 4, 0, 0)

In [47]:
import pandas.tseries.offsets
dir(pandas.tseries.offsets)

['BDay',
 'BMonthBegin',
 'BMonthEnd',
 'BQuarterBegin',
 'BQuarterEnd',
 'BYearBegin',
 'BYearEnd',
 'BaseOffset',
 'BusinessDay',
 'BusinessHour',
 'BusinessMonthBegin',
 'BusinessMonthEnd',
 'CBMonthBegin',
 'CBMonthEnd',
 'CDay',
 'CustomBusinessDay',
 'CustomBusinessHour',
 'CustomBusinessMonthBegin',
 'CustomBusinessMonthEnd',
 'DateOffset',
 'Day',
 'Easter',
 'FY5253',
 'FY5253Quarter',
 'Hour',
 'LastWeekOfMonth',
 'Micro',
 'Milli',
 'Minute',
 'MonthBegin',
 'MonthEnd',
 'Nano',
 'QuarterBegin',
 'QuarterEnd',
 'Second',
 'SemiMonthBegin',
 'SemiMonthEnd',
 'Tick',
 'Week',
 'WeekOfMonth',
 'YearBegin',
 'YearEnd',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__']

In [48]:
from pandas.tseries.offsets import Day, Hour, Second #offsets에서 필요한 모듈 추출
t1 + Day(100)

Timestamp('2023-09-04 00:00:00')

In [49]:
t2 + Hour(5)

Timestamp('2023-05-31 05:00:00')